Flask==2.1.1
Werkzeug==2.1.1
Jinja2==3.1.1
Flask-SQLAlchemy==2.5.1
Flask-Caching==1.10.1
Flask-Migrate==3.1.0
Flask-Script==2.0.6
SQLAlchemy==1.4.35
SQLAlchemy-Utils==0.38.2
passlib==1.7.4
bcrypt==3.2.0
itsdangerous==2.1.2
requests==2.27.1
PyMySQL==1.0.2
gunicorn==20.1.0
dataset==1.5.2
cmarkgfm==0.8.0
redis==4.2.2
gevent==21.12.0
python-dotenv==0.20.0
flask-restx==0.5.1
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.28.0
boto3==1.21.37
marshmallow==3.15.0
pydantic==1.9.0
WTForms==3.0.1
python-geoacumen-city==2022.3.15
maxminddb==1.5.4
tenacity==8.0.1
pybluemonday==0.0.9
